 <main class="main">

  <section class="container">
    <form action="/search" method="POST" id="form" autocomplete="off">
      <input type="text" name="input" class="input" placeholder="Enter package name" required>
      <input type="submit" value="search" name="submit" class="btn">
    </form>
    <span class="errorMsg"> </span>
  </section>

 

{{#if result.name}}
  <div class="data-box">
    <div class="data-box__title">
      <h2>{{result.name}}</h2>
      <p>{{result.description}}</p>
    </div>

    <ul class="data-box__list">
      <li><a href={{result.homepage}} target="_blank">Go to Homepage</a></li>
      <li><a href={{result.repository_url}} target="_blank">Go to Repository</a></li>
      <li>{{result.language}}</li>
      <li>{{result.latest_release_number}}</li>
    </ul>

  </div>
  {{else}}
  <span> Enter valid npm package</span>
  {{/if}}
</main>